.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    height: 70px;
}
 .link{
    color: aliceblue;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
 }